<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.molice.mapper.TuserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.molice.entity.Tuser">
        <id column="id" property="id" />
        <result column="staffName" property="staffName" />
        <result column="staffNum" property="staffNum" />
        <result column="password" property="password" />
        <result column="createtime" property="createtime" />
        <result column="deleteflag" property="deleteflag" />
        <result column="isAdmin" property="isAdmin" />
    </resultMap>

</mapper>
